<input id="directory/<%=category%>/<%=tab.toLowerCase() %>" name="<%=category%>-group" type="radio">

<ul>
    <li>
        <input name="subcategory-<%=category%>" id="<%=category%>-<%=tab.toLowerCase() %>-shipping" type="checkbox"/>
        <header class="flex-container aligning">
            <div class="caret">▽</div>
            <h2><label for="<%=category%>-<%=tab.toLowerCase() %>-shipping">Shipping <%=category%> <%=tab.toLowerCase() %></label></h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur earum esse iusto
            labore maiores quis rem voluptatem voluptatibus! Adipisci cum delectus impedit magni nisi rerum
            tempore tenetur vel?</p>
    </li>
    <li>
        <input name="subcategory-<%=category%>" id="<%=category%>-<%=tab.toLowerCase() %>-billing" type="checkbox"/>
        <header class="flex-container aligning">
            <div class="caret">▽</div>
            <h2><label for="<%=category%>-<%=tab.toLowerCase() %>-billing">Billing <%=category%> <%=tab.toLowerCase() %></label></h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur earum esse iusto
            labore maiores quis rem voluptatem voluptatibus! Adipisci cum delectus impedit magni nisi rerum
            tempore tenetur vel?</p>
    </li>
    <li>
        <input name="subcategory-<%=category%>" id="<%=category%>-<%=tab.toLowerCase() %>-home" type="checkbox"/>
        <header class="flex-container aligning">
            <div class="caret">▽</div>
            <h2><label for="<%=category%>-<%=tab.toLowerCase() %>-home">Home <%=category%> <%=tab.toLowerCase() %></label></h2>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, alias consequatur earum esse iusto
            labore maiores quis rem voluptatem voluptatibus! Adipisci cum delectus impedit magni nisi rerum
            tempore tenetur vel?</p>
    </li>
</ul>